article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html {
	font-family: "Inconsolata", monospace;
}

body {
	background-color: #F1F1FB;
	font-size: 20px;
	// font-size: 62.5%; //10px
}

.wrapper {
	background-color: #fff;
	margin: 100px;
	padding: 1% 0;
}


.scallop {
	position: relative;
	webkit-clip-path: circle(136% at 50% 100%);
	clip-path: circle(136% at 50% 100%);
	background-color: #fff;

}
.scallop::before { 
	position: absolute;
	bottom: -80px;
	left: 0px;
	width: 100%;
	content: "";
	background: radial-gradient(circle at 50% 0%, #fff 25%, transparent 26%, transparent 40%);
	background-size: 165px 310px;
	height: 90px;
	background-repeat: repeat-x;
}

section.header {
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	.header-mobile {
		display: none;
	}
	.header-clip {
	  background: url("/public/styles/assets/headerbg.png") repeat;
	  -webkit-text-fill-color: transparent;
	  -webkit-background-clip: text;
	}
	h2 {
		transform: rotate(90deg);
		margin: 0;
		position: relative;
		right: 250px;
		width: 21%;
	}
}

h1, h3, p {
	margin: 0;
	padding: 0;
}

h2 {
	box-shadow: inset 0 20px 0 RGBA(241, 241, 251, 1.00);
	display: inline;
	color: #1313E5;
	font-size: 30px;
}

h1 {
	line-height: 0.7;
	height: 600px;
	font-size: 26vw;
}

a {
	text-decoration: none;
	color: #1313E5;
	border-bottom: 1px solid #000;
	&:hover {
		border-bottom: none;
	}
}

section.about {
	.wrapper-btmborder {
		display: flex;
		height: auto;
		align-items: center;
	}
	.about-image {
		-webkit-clip-path: polygon(0 22%, 89% 9%, 63% 80%, 19% 98%);
		clip-path: polygon(0 22%, 89% 9%, 63% 80%, 19% 98%);
		transform: scale(0.7);
	}
	p {
		margin: 30px 0;
	}
}


section.skills {
	.skills-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
		margin: 30px 0;
	}
	h2:after {
		content: "";
		display: block;
		position: relative;
		width: 80%;
		height: 1px;
		background-color: #DEDEDE;
		left: 230px;
		bottom: 12px;
	}
	.skills-icon {
		margin: 15px 0;
		width: 15%;
		p {
			display: block;
			text-align: center;
		}
		img {
			width: 80px;
			height: 80px;
		}
		.icon {
		  fill: #4691f6;
		}
	}
}

section.portfolio {
	.wrapper-btmborder {
		border-bottom: 1px solid #DEDEDE;
	}
	h2:after {
		content: "";
		display: block;
		position: relative;
		width: 87%;
		height: 1px;
		background-color: #DEDEDE;
		left: 155px;
		bottom: 12px;
	}
	.portfolio-project {
		display: flex;
		align-items: flex-start;
		margin: 50px 0;
		justify-content: center;
		.portfolio-img {
			max-width: 60%;
			margin: 0 20px;
			img {
				// box-shadow: 6px 20px 0 #1313E5;
				max-width: 100%;
				border: 10px solid RGBA(241, 241, 251, 1.00);
			}
		}
		.portfolio-names {
			margin: 0 10px;
			width: 45%;
		}
		.portfolio-links {
			transform: rotate(90deg);
			position: relative;
			left: 60%;
			a {
				margin: 0 5px;
				padding: 2px;
			}
		}
	}
}

section.other {

	.wrapper-btmborder {
		border-bottom: 1px solid #DEDEDE;
		.other-content {
			display: flex;
			margin: 30px 0;
			justify-content: space-around;
			p {
			width: 50%;
			}
		}
	}

}

section.contact {
	.contact-container {
		display: flex;
		width: 100%;
		margin: 30px 0;
	}
	.contact-form {
		width: 70%;
		// margin: 30px 0;
	}
	.contact-socialmedia {
		width: 30%;
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			li {
				padding: 0;
				margin: 0;
				display: block;
				.fa {
					color: #1313E5;
					margin: 10px;
				}
				a {
					background-color: transparent;
					padding: 2px;
				}
				p {
					display: inline-block;
				}
			}
		}
	}
	form {
		width: 100%;
	}
	input[type=text], input[type=email] {
		color: #1313E5;
		border: none;
		border-bottom: 1px solid #000;
		width: 37%;
		padding: 5px;
		&:focus {
			outline: none;
			border-bottom: 1px solid #1313E5;
		}
	}
	textarea {
		color: #1313E5;
		width: 75%;
		border: 1px solid #000;
		margin: 30px 0;
		padding: 5px;
		&:focus {
			outline: none;
			border: 1px solid #1313E5;
		}
	}
	input[type=submit] {
		display: block;
		padding: 10px;
		width: 30%;
		color: #fff;
		background-color: #1313E5;
		border: none;
		margin: 0;
		&:focus {
			outline: none;
			border: 1px solid #1313E5;
		}
	}
}


@media (max-width: 1019px) {
	.wrapper {
	background-color: #fff;
	margin: 100px 7% 10% 7%;
	padding: 1% 0;
	}
	section.skills h2:after,
	section.portfolio h2:after {
		width: 70%;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	section.header {
		height: auto;
		display: flex;
		text-align: center;
		align-items: center;
		align-content: center;
		margin: 0 auto;
		margin-top: calc(50vh - 300px);

		h1 {
			line-height: 0.7;
			height: 400px;
			font-size: 26vw;
		}

		.header-clip {
		  background: url("/public/styles/assets/headerbg.png") repeat;
		  -webkit-text-fill-color: transparent;
		  -webkit-background-clip: text;
		}
		h2 {
			transform: rotate(90deg);
			margin: 0;
			position: relative;
			right: 100px;
			width: 21%;
			box-shadow: none;
		}
	}
	section.skills h2:after,
	section.portfolio h2:after {
		width: 70%;
	}

}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	section.header {
		margin-top: calc(50vh - 200px);
	}
	.wrapper {
		margin: 100px 7% 10% 7%;
	}
	section.about {
		.about-image {
			display: block;
			margin: 0 auto;
		}
		.wrapper-btmborder {
		display: block;
		padding: 40px 0;
		}
	}
	section.portfolio {
		.portfolio-project {
			display: block;
			margin: 60px 0;
			.portfolio-img {
				max-width: 100%;
			}
			.portfolio-names {
				width: 100%;
				margin: 50px 20px 10px 20px;
			}
			.portfolio-links {
				left: 55%;
			}
		}
	}
	section.skills {
			.skills-container {
				margin: 30px 0 0 0;
			}
			.skills-icon {
				width: 25%;
			}
	}
	section.skills h2:after {
		width: 60%;
		
	}
	section.portfolio h2:after {
		width: 73%;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.wrapper {
		margin: 40px 10px;
	}
	section.header {
		.header-clip {
			display: none;
		}
		.header-mobile {
			display: block;
			color: #0004A9;
		}
	}
	section.skills h2:after,
	section.portfolio h2:after {
		display: none;
	}
	section.about {
		.about-image {
			display: block;
			margin: 0 auto;
			-webkit-clip-path: none;
			clip-path: none;

		}
		.wrapper-btmborder {
			display: block;
			padding-top: 100px;
		}
	}
	section.skills {
			.skills-container {
				margin: 30px 0 0 0;
			}
			.skills-icon {
				width: 100%;
				margin: 0;
				img {
					display: none;
				}
				p {
				text-align: left;
				}
			}
	}
	section.portfolio {
		.portfolio-project {
			.portfolio-links {
				transform: none;
				position: static;
				display: flex;
				justify-content: flex-end;
			}
			.portfolio-img {
				max-width: 100%;
				margin: 0;
			}
			.portfolio-names {
				margin: 0;
			}
		}
	}
	section.other {
		.wrapper-btmborder {
			.other-content {
				display: block;
				p {
				width: 100%;
				}
			}
		}
	}
	section.contact {
		input[type=text],
		input[type=email] {
			width: 100%;
		}
		textarea {
			width: 100%;
			margin: 20px 0 20px 0;
		}
		.contact-container {
			display: block;
			.contact-form,
			.contact-socialmedia {
				width: 100%;
				font-size: 25px;
				margin: 30px 0;
			}
		}

	}
}