article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html {
	font-family: "Inconsolata", monospace;
}

body {
	background-color: #F1F1FB;
	// font-size: 62.5%; //10px
}

.wrapper {
	background-color: #fff;
	margin: 5% 10% 10% 10%;
	padding: 1% 0;
}


	.scallop {
		position:relative;
		// -webkit-clip-path: circle(60% at 50% 45%);
		// clip-path: circle(60% at 50% 45%);
	}
	.scallop::before { 
		position: absolute;
		bottom: -80px;
		left: 0px;
		width: 100%;
		content: "";
		background: radial-gradient(circle at 50% 0%, #fff 25%, transparent 26%, transparent 40%);
		background-size: 165px 310px;
		height: 90px;
		background-repeat: repeat-x;
	}

section.header {
	margin-top: 100px;
	text-align: center;
	.header-clip {
	  background: url("/dev/assets/headerbg.png") repeat;
	  -webkit-text-fill-color: transparent;
	  -webkit-background-clip: text;
	}
}

h1, h3, p {
	margin: 5px 0;
	padding: 0;
}

h2 {
	box-shadow: inset 0 20px 0 RGBA(241, 241, 251, 1.00);
	display: inline;
	color: #1313E5;
}

h1 {
	font-size: 100px;
	font-weight: 700;
}

a {
	text-decoration: none;
	color: #1313E5;
	background-color: #F1F1FB;
}

section.about {
	.wrapper-btmborder {
	border-bottom: 1px solid #DEDEDE;
	display: flex;
	height: auto;
	align-items: center;
	}
	.about-image {
		-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
		clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
		transform: scale(0.5);
	}
	.about-desc {
		
	}
}


section.skills {
	.skills-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
		margin: 30px 0;
	}
	h2:after {
	content: "";
	display: block;
	position: relative;
	width: 90.7%;
	height: 1px;
	background-color: #DEDEDE;
	left: 86px;
	bottom: 12px;
	}
	.skills-icon {
		width: 15%;
		p {
			display: block;
			text-align: center;
		}
		img {
			width: 50px;
			height: 50px;
		}
		.icon {
		  fill: #4691f6;
		}
	}
}

section.portfolio {
	h2:after {
	content: "";
	display: block;
	position: relative;
	width: 86.8%;
	height: 1px;
	background-color: #DEDEDE;
	left: 122px;
	bottom: 12px;
	}
	.portfolio-project {
		margin: 30px 0;
		.portfolio-links {
			transform: rotate(270deg);
			display: inline-block;
			position: relative;
			right: 9%;
			top: 200px;
			a {
				margin: 0 5px;
				padding: 2px;
			}
		}
	}
}

section.other {

	.wrapper-btmborder {
		border-bottom: 1px solid #DEDEDE;
		.other-content {
			display: flex;
			p {
			width: 50%;
			}
		}
	}

}


section.contact {

	.contact-container {
		display: flex;
		width: 100%;
	}

	.contact-form {
		width: 70%;
	}

	.contact-socialmedia {
		width: 30%;
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			li {
				padding: 0;
				margin: 0;
				.fa {
					color: #1313E5;
					margin: 10px;
				}
				a {
					color: #000;
					background-color: transparent;
				}
			}
		}
	}
	form {
		width: 100%;
	}
	input[type=text], input[type=email] {
		color: #1313E5;
		border: none;
		border-bottom: 1px solid #000;
		width: 37%;
		&:focus {
			outline: none;
			border-bottom: 1px solid #1313E5;
		}
	}
	textarea {
		color: #1313E5;
		width: 75%;
		border: 1px solid #000;
		margin: 30px 0;
		&:focus {
			outline: none;
			border: 1px solid #1313E5;
		}
	}
	input[type=submit] {
		display: block;
		padding: 10px;
		width: 30%;
		color: #fff;
		background-color: #1313E5;
		border: none;
		margin: 0;
		&:focus {
			outline: none;
			border: 1px solid #1313E5;
		}
	}
}